<?xml version='1.0' encoding='utf-8'?>
<widget id="com.slugcity.game" version="1.0.0"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Slug City</name>
  <description>Детская игра Slug City</description>
  <author email="you@example.com">You</author>
  <content src="index.html" />
  <preference name="Orientation" value="landscape" />
  <preference name="Fullscreen" value="true" />
  <preference name="AndroidXEnabled" value="true" />
  <access origin="*" />
  <allow-navigation href="*" />
  <platform name="android">
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
  </platform>
</widget>
